<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weplay">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WePlay">
        <activity
            android:name=".user.OthersProfileActivity"
            android:exported="false" />
        <activity
            android:name=".party.write.PartyContentMakeActivity"
            android:exported="false" />

        <receiver
            android:name=".party.notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".party.read.PartyContentActivity"
            android:exported="false" />
        <activity
            android:name=".party.read.ChattingActivity"
            android:exported="false" />

        <activity
            android:name=".party.read.MainActivity"
            android:exported="false" />
        <activity
            android:name=".party.write.SportsActivity"
            android:exported="false" />
        <activity
            android:name=".party.write.HeadcountActivity"
            android:exported="false" />
        <activity
            android:name=".party.write.MapsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>